# Chapter 3: Non-Negative Matrix Factorization (NMF)

## Instructions

- Run the cells with "assert" statements to see if your answer's output matches what the output should be. If it runs without error, your answer matches! If your output is different, you'll get a hint.

In this notebook, you'll get to practice topic modeling with NMF.

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.decomposition import NMF

Here, we have 6 documents. Scanning the text, what topics do you see? How many topics do you see? Keep those answers in mind as we move forward.

In [2]:
example = ['Hamilton brought a boost. The Lion King provided ballast. And Broadway, once again, broke a record: The theater season that just ended attracted more people, and more money, than any before. Broadway seems to be defying the cultural odds: An ancient art form in the digital age, it is strengthening thanks to an everincreasing influx of tourists and a resurgent enthusiasm for musical theater. The season that ended on Sunday included 13,317,980 visitors to Broadway shows  a record number, up 1.6 percent over the previous season, according to figures released on Monday by the Broadway League. Theaters grossed 1.373 billion, also a record, up 0.6 percent over the previous season, although the grosses are not adjusted for inflation. Once again, Simba ruled supreme: The Lion King, still mighty more than 18 years after it opened, grossed 102.7 million on Broadway last season, far outpacing any other show. The musical, which has multiple productions running simultaneously around the globe, has grossed more than 6.2 billion worldwide, and has been seen by 85 million people over its history, according to Disney; by contrast, 478,605 people have seen the Broadway production of Hamilton thus far.Hamilton (featuring a onetime Simba, Christopher Jackson, in the role of George Washington) offered an enormous jolt of energy to the Broadway season. This hiphop musical about Americas founding fathers has dominated the cultural conversation, raked in awards and been celebrated at the White House. Many Broadway leaders believe the show has helped the industry as a whole, bringing attention from corners of the culture that have long preferred to mock jazz hands and dream ballets.',
          'When Candace Payne, aka the Chewbacca Mask Mom, sat in her car last Thursday filming her new Hasbro toy, an electronic Chewbacca Mask from Kohls, she inadvertently made history  not just for Facebook Live as its most popular video, but for the entire haul and unboxing video genre. Paynes video starts out like every other video in the genre  she talks about her shopping trip, and is incredibly excited to show the viewer her new purchase   but after that, the similarities stop. Shes not in a bedroom, but in her car, and Payne isnt describing multiple purchases, just one. The platform, execution and reception of her vlog has impacted the genre, in quite a few ways. First, Paynes video actually went viral among ordinary people, something that doesnt really happen to other haul and unboxing videos  not to this extent. While it is true boxing and haul videos by top YouTube vloggers will get a few million views (only!) thanks to the large communities said vlogger has built over the years, no one has ever seen an instant worldwide smash hit like Paynes video. Grandparents and aunts that dont even know what a haul video is were watching, liking, and sharing Paynes video.',
          'LOS ANGELES (AP)  An original animators desk from Walt Disney Studios and a vintage Mickey Mouse doll signed by Walt Disney are among the items up for bid next month in an online auction of rare Disney memorabilia. The website of Van Eaton Galleries lists more than 700 items for sale. Among the items listed are original production cels for Disney classics like The Jungle Book, Sleeping Beauty, Bambi and Snow White and the Seven Dwarfs. Collectors can also bid on costumes from the original Mickey Mouse Club, including one worn by Annette Funicello. An exhibition titled, Collecting Disney, opens Wednesday at the gallery in Sherman Oaks, California, ahead of the online auction that begins June 18.',
          'After putting together one of their best playoff performances in a must win Game 3 on Saturday, the Toronto Raptors picked up where they left off in Mondays Game 4, with AllStar guards Kyle Lowry and DeMar DeRozan finally teaming up for a complete performance. Lowry (35 points) and DeRozan (32 points) shot a combined 28 for 43 for 67 points and became the first teammates in a conference finals series to score 30  plus points on 60% or better shooting since Charles Barkley and Dan Majerle for Phoenix Suns in 1993, further proving that when the starting backcourt is on, the Raptors are extremely difficult to beat. Those numbers are of stark contrast to the majority of the Raptors first two playoff series, where both Lowry and DeRozan struggled mightily to deliver significant offensive production.',
          'The Cleveland Cavaliers enjoyed one of their most devastating 12 minutes of offensive basketball in the second half Monday night and, considering their playoff run, thats saying something. But it came after a long stretch of some of their most puzzling play in weeks, and that cost them a valuable playoff game. The Toronto Raptors evened the Eastern Conference finals at 22 with a 10599 victory after holding on in the face of a vicious Cavs late rally. Yet, as well as the Raptors played  stars Kyle Lowry and DeMar DeRozan were just terrific with a combined 67 points, the most theyve ever scored as teammates  it really came amid some headscratching, gameplan adjustments by coach Tyronn Lue. After spending the past few weeks finding a rhythm that has produced mostly spectacular results, Lue completely changed his rotations in the first half in what seemed like an overreaction from the Game 3 loss.',
          'Leave it to Rich Hill to end the As four game losing streak. The last time Oakland had won before Monday, Hill was on the mound. And at Safeco Field, he was magnificent, working calmly and efficiently whether the bases were empty or full. Hill pitched eight scoreless innings to help the As top the division leading Mariners 5 0. The As have won all four games theyve played at Seattle this season. Oakland has 20 wins and Hill has seven of them, the most for an As pitcher before the end of May since Mark Mulder had eight in 2003, a year Mulder made the All Star team. Every game he goes out there we feel were going to win, no matter what were going through, Oakland manager Bob Melvin said. He brings a lot of intensity to the mound, a lot of fight. Hill hasnt allowed more than three earned runs in any of his 10 starts and his ERA is down to 2.18. He also became the first As starter to pitch into the eighth inning since Sonny Gray pitched eight innings last Aug. 22, a span of 83 games; Melvin said his plan was to use only Hill and closer Ryan Madson, and Hill even wanted to go back out for the ninth after throwing 107 pitches. Hills streak of starts in which he gave up no more than four hits while working at least five innings ended at six; the Mariners recorded eight hits off him, few of them struck well. Hills streak was the best in franchise history dating to at least 1913. Seattle loaded the bases with no outs in the second inning without hitting the ball hard, with Nelson Cruzs infield single, an opposite field flare by Dae Ho Lee and a bloop to center by Kyle Seager. At that point, Hill said, second baseman Chris Coghlan came over to him and said, Control what you can control.']
ex_label = [e[:100]+"..." for e in example]

Before topic modeling, the first step is to get your text data in a format that is ready for modeling. Use `CountVectorizer` with English stop words to turn the corpus into a document-term matrix. Save the matrix as `doc_term`.

In [3]:
### BEGIN SOLUTION
vectorizer = CountVectorizer(stop_words = 'english')
doc_term = vectorizer.fit_transform(example)
### END SOLUTION
doc_term.shape

(6, 468)

In [4]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert doc_term.shape == (6, 468), "The doc_term matrix should have 6 documents and 468 terms."
### END HIDDEN TESTS

Turn the `doc_term` matrix into a dataframe. Modify the code below to do so and save the output as `doc_term_df`.

```
pd.DataFrame(INSERT_VALUE_HERE.toarray(), index=ex_label, columns=vectorizer.get_feature_names())
```

In [5]:
### BEGIN SOLUTION
doc_term_df = pd.DataFrame(doc_term.toarray(), index=ex_label, columns=vectorizer.get_feature_names())
### END SOLUTION
doc_term_df

,10,102,10599,107,12,13,18,1913,1993,20,...,white,win,wins,won,working,worldwide,worn,year,years,youtube
"Hamilton brought a boost. The Lion King provided ballast. And Broadway, once again, broke a record: ...",0,1,0,0,0,1,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0
"When Candace Payne, aka the Chewbacca Mask Mom, sat in her car last Thursday filming her new Hasbro ...",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
LOS ANGELES (AP) An original animators desk from Walt Disney Studios and a vintage Mickey Mouse dol...,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
"After putting together one of their best playoff performances in a must win Game 3 on Saturday, the ...",0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
The Cleveland Cavaliers enjoyed one of their most devastating 12 minutes of offensive basketball in ...,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Leave it to Rich Hill to end the As four game losing streak. The last time Oakland had won before Mo...,1,0,0,1,0,0,1,1,0,1,...,0,1,1,2,2,0,0,1,0,0

In [6]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert type(doc_term_df) == pd.DataFrame, "The output should be a dataframe."
assert doc_term_df.shape == (6, 468), "The output should have 6 documents and 468 terms."
### END HIDDEN TESTS

Fit an NMF model using `NMF` with two components, or in other words, two topics. Set the hyperparameter `init` to `nndsvda`; this helps the solver to contend with sparsity. Save the fitted model as `nmf`.

In [7]:
### BEGIN SOLUTION
nmf = NMF(2, init = "nndsvda")
nmf.fit(doc_term)
### END SOLUTION
nmf

NMF(init='nndsvda', n_components=2)

In [8]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert nmf.solver == 'cd' and nmf.n_components_ == 2, "The output should be a fitted NMF model with two components."
### END HIDDEN TESTS

The NMF model reduced the 468 terms into 2 topics. Save the topic-term matrix as `topic_term`.

In [9]:
### BEGIN SOLUTION
topic_term = nmf.components_.round(3)
### END SOLUTION
topic_term.shape

(2, 468)

In [10]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert topic_term.shape == (2, 468), "The topic_term matrix should have 2 components and 468 terms."
### END HIDDEN TESTS

Turn the `topic_term` matrix into a dataframe. Modify the code below to do so and save the output as `topic_term_df`.

```
pd.DataFrame(INSERT_VALUE_HERE.round(3), index = ["component_1", "component_2"], columns = vectorizer.get_feature_names())
```

In [11]:
### BEGIN SOLUTION
topic_term_df = pd.DataFrame(topic_term.round(3),
                index = ["component_1", "component_2"],
                columns = vectorizer.get_feature_names())
### END SOLUTION
topic_term_df

,10,102,10599,107,12,13,18,1913,1993,20,...,white,win,wins,won,working,worldwide,worn,year,years,youtube
component_1,0.000,0.293,0.004,0.000,0.004,0.293,0.303,0.000,0.002,0.000,...,0.306,0.000,0.000,0.000,0.000,0.338,0.014,0.000,0.338,0.046
component_2,0.386,0.000,0.031,0.386,0.031,0.000,0.384,0.386,0.021,0.386,...,0.000,0.407,0.386,0.771,0.771,0.020,0.003,0.386,0.020,0.025

In [12]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert type(topic_term_df) == pd.DataFrame, "The output should be a dataframe."
assert topic_term_df.shape == (2, 468), "The output should have 2 topics and 468 terms."
### END HIDDEN TESTS

While you can scan the output to determine the top words in each topic, the function below displays the top terms in each topic in a format that is easier to read.

Apply the function to find the top 10 terms in each of the 2 topics. Save the results of the function as `output`.

In [13]:
# Function to display the top n terms in each topic
def display_topics(model, feature_names, no_top_words, topic_names = None): 
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix + 1)
        else:
            print("\nTopic: ", topic_names[ix])
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))
    print("\n")
    return model, feature_names, no_top_words

In [14]:
### BEGIN SOLUTION
output = display_topics(nmf, vectorizer.get_feature_names(), 10)
### END SOLUTION
output;

Topic  1
broadway, season, people, record, grossed, hamilton, musical, million, seen, far

Topic  2
hill, said, oakland, innings, streak, game, second, starts, hits, mulder

In [15]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert output[0].n_components == 2, "The model hyperparameter should be set to nmf."
assert len(output[1]) == 468, "The feature_names hyperparamter should be set to vectorizer.get_feature_names()."
assert output[2] == 10, "The no_top_words hyperparameter should be set to 10."
### END HIDDEN TESTS

Now this is the fun part. Take a look at the top words in the two topics, and using your human brain, name them.

The first one looks like it's about music and the second one is about sports.

In [16]:
display_topics(nmf, vectorizer.get_feature_names(), 5, ['Music', 'Sports']);

Topic:  Music
broadway, season, people, record, grossed

Topic:  Sports
hill, said, oakland, innings, streak

In this last step, your task is to figure out which topics are in each document. Transform the original `doc_term` matrix into a document-topic matrix and save it as `doc_topic`.

In [17]:
### BEGIN SOLUTION
doc_topic = nmf.transform(doc_term)
### END SOLUTION
doc_topic.shape

(6, 2)

In [18]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert doc_topic.shape == (6, 2), "The doc_topic matrix should have 6 documents and 2 topics."
### END HIDDEN TESTS

Turn the `doc_topic` matrix into a dataframe. Modify the code below to do so and save the output as `doc_topic_df`.

```
pd.DataFrame(INSERT_VALUE_HERE.round(5), index = ex_label, columns = ["music", "sports"])
```

In [19]:
### BEGIN SOLUTION
doc_topic_df = pd.DataFrame(doc_topic.round(5), index = ex_label, columns = ["music", "sports"])
### END SOLUTION
doc_topic_df

                                                      music   sports
Hamilton brought a boost. The Lion King provide...  3.32555  0.00000
When Candace Payne, aka the Chewbacca Mask Mom,...  0.52114  0.16883
LOS ANGELES (AP)  An original animators desk fr...  0.15392  0.02246
After putting together one of their best playof...  0.02696  0.14048
The Cleveland Cavaliers enjoyed one of their mo...  0.04445  0.20408
Leave it to Rich Hill to end the As four game l...  0.00000  2.55848

In [20]:
### CHECK YOUR OUTPUT WITH THE ANSWER

### BEGIN HIDDEN TESTS
assert type(doc_topic_df) == pd.DataFrame, "The output should be a dataframe."
assert doc_topic_df.shape == (6, 2), "The output should have 6 documents and 2 topics."
### END HIDDEN TESTS

Each of the 6 documents that used to be represented by 468 terms is now just represented by 2 topics.

* You can see that the first document is clearly about music and the last one is clearly about sports.

* Some of the ones in the middle don't make as much sense though, like the second document about Chewbacca Mask Mom that is neither about music or sports.

Some next steps to improve the topic modeling:

* Try using a different number of topics instead of 2, like maybe 3 or 4 topics.

* Try tuning the CountVectorizer hyperparameters to remove stop words, only keep common words, remove numbers, include bi-grams, etc.

* Try using a different topic modeling algorithm like LSA.

At the end of the day, what matters most is that the topic interpretations make sense. Here, the topics made sense, but they didn't match well with the actual text.